/*
font-family: 'Lato', sans-serif;
font-family: 'Sulphur Point', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/

body{
    font-family: 'Lato', sans-serif;;
}

h3{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: lighter;
}

/* Navegation */
nav.transparents{
    background-color: rgba(255, 255, 255, .65);
}

.navbar-image {
    background-image: url(../img/green.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.navegation-top li a{
    padding-left: 25px;
    color: #0D2E35;
    font-size: 18px;
    font-weight: 500;
}
nav .brand-logo{
    color: #16252C;
    text-shadow: 0px 0px 0px #16252C;
    font-family: 'Sulphur Point', sans-serif; 
}

/* Headings */
.header-info{
    margin-top: 15vh;
}

.dev-name{
    color: #0D2E35;
    margin-bottom: 15vh;
    font-family: 'Sulphur Point', sans-serif;
}
.dev-message h3{
    color: #cbe884;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
.greeting{
    background-color: #16252c;
    color: #cbe884;
}
.greeting .container h3{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    
}
.greeting span{
    font-weight: 400;
    color: #34694f;
}
.greeting span:hover{
    color: #cbe884;
    text-shadow: 1px 1px 20px #cbe884;
    text-decoration:underline;
    transition: 0.4s;
}

/* About me */
.aboutme{
    background-image: url(../img/orange.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.bio{
    margin-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    color: white;
}

/* Link Downloads */
.linkdownload{
    margin-top: 80px;
}

.linkdownload span a{
    color: #FF451C;
    font-size: 18px;
    font-family: 'Lato', sans-serif;   
}
.linkdownload i{
    color: #FF451C;
}

.linkdownload span a:hover{
    color: #FEA173;
    text-shadow: 1px 1px 20px #FEA173;
    text-decoration:underline;
    transition: 0.5s;
}

/* Project Sections */
#projects{
    font-family: 'Sulphur Point', sans-serif;
    color: #210011;
}
#projects .divider{
    background-color:#210011;
    height: 2px;
    margin-bottom: 100px;  
}

.card .card-image .card-title {
    width: 100%;
    text-align: center;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 30px;
    font-weight: 100;
}
.card:hover{
    transform: scale(1.07);
    transition: transform .5s ease;
}
.card .card-image:hover {
    opacity: 0.8;
    
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(137, 137, 137, 0.9);
}

.card .card-action strong{
    color: #210011;
    font-weight: 800; 
}
.tooltip{
    font-size: 19px;
    padding: 5px;
}
.tooltip span{
    font-size: 19px;
}

/* Contact me form */
.contactme{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color:#121D31;
}

/* contact form fields  */
.input-field label {
    color: white;
  }
  
input, select, textarea{
    color:#cbe884;
    font-family: 'Lato', sans-serif;
}
textarea:focus, input:focus {
    color: #34694f;
    font-family: 'Lato', sans-serif;
}
/* end contact form fields  */

#contactme{
    font-family: 'Sulphur Point', sans-serif;
}

/* Footer  */
.page-footer{
    background-color:rgb(8, 13, 22);
}

.footer-copyright a:hover{
    color: #cbe884;
    text-shadow: 1px 1px 20px #cbe884;
    text-decoration:underline;
    transition: 0.4s;
}
.footer-copyright span:hover{
    color: yellow;
}

/* Skill set icons  */
#skillset i{
    color: white;
    padding-right: 10px;
    padding-left: 10px; 
}

#skillset .fa-python:hover{
    color: rgb(255, 251, 0);
    text-shadow: 1px 1px 20px #FEA173;
}

#skillset .fa-php:hover{
    color: rgb(142, 72, 199);
    text-shadow: 1px 1px 20px rgb(69, 43, 143);
}

#skillset .fa-js-square:hover{
    color: rgb(241, 162, 59);
    text-shadow: 1px 1px 20px rgb(212, 185, 65);
}

#skillset .fa-flask:hover{
    color: rgb(143, 185, 212);
    text-shadow: 1px 1px 20px rgb(86, 119, 141);
}

#skillset .fa-html5:hover{
    color: rgb(230, 70, 42);
    text-shadow: 1px 1px 20px rgb(223, 65, 44);
}

#skillset .fa-css3-alt:hover{
    color: rgb(30, 130, 245);
    text-shadow: 1px 1px 20px rgb(41, 145, 177);
}

#skillset .fa-sass:hover{
    color: rgb(245, 30, 209);
    text-shadow: 1px 1px 20px rgb(221, 109, 216);
}