/*
font-family: 'Lato', sans-serif;
font-family: 'Sulphur Point', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/

body{
    font-family: 'Lato', sans-serif;;
}

h3{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: lighter;
}

nav.transparents{
    background-color: rgba(255, 255, 255, .65);
}

.navbar-image {
    background-image: url(../img/green.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.navegation-top li a{
    padding-left: 25px;
    color: #0D2E35;
    font-size: 18px;
    font-weight: 500;
}
nav .brand-logo{
    color: #16252C;
    text-shadow: 0px 0px 0px #16252C;
    font-family: 'Sulphur Point', sans-serif; 
}

.header-info{
    margin-top: 15vh;
}

.dev-name{
    color: #0D2E35;
    margin-bottom: 15vh;
    font-family: 'Sulphur Point', sans-serif;
}
.dev-message h3{
    color: #cbe884;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
.greeting{
    background-color: #16252c;
    color: #cbe884;
}
.greeting .container h3{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    
}
.greeting span{
    font-weight: 400;
    color: #34694f;
}
.greeting span:hover{
    color: #cbe884;
    text-shadow: 1px 1px 20px #cbe884;
    text-decoration:underline;
    transition: 0.4s;
}
.aboutme{
    background-image: url(../img/orange.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.bio{
    margin-top: 100px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    color: white;
}
.link-resume{
    margin-top: 50px;
}
.resume span a{
    color: #FF451C;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    
}
.resume span a:hover{
    color: #FEA173;
    text-shadow: 1px 1px 20px #FEA173;
    text-decoration:underline;
    transition: 0.5s;
}

#projects{
    font-family: 'Sulphur Point', sans-serif;
    color: #210011;
}
#projects .divider{
    background-color:#210011;
    height: 2px;
    margin-bottom: 100px;  
}

.card .card-image .card-title {
    width: 100%;
    text-align: center;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 30px;
    font-weight: 100;
}
.card:hover{
    transform: scale(1.07);
    transition: transform .5s ease;
}
.card .card-image:hover {
    opacity: 0.8;
    
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(137, 137, 137, 0.9);
}

.card .card-action strong{
    color: #210011;
    font-weight: 800;
    
}

.tooltip{
    font-size: 19px;
    padding: 5px;
}
.tooltip span{
    font-size: 19px;
}